/**
 * @ Author: Joé HATIER
 * @ Create Time: 2022-07-18 
 * @ Modified by: Joé HATIER
 * @ Modified time: 2022-07-18
 * @ Description: slider range stylesheet
 */

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,600);

:root{
  /* ===== Colors ===== */
  --sliderRightPartColor : #41a8ab;
  --sliderLeftPartColor : #E64C65;
  --sliderBubleColor : #41a8ab;
}


/* SLIDER RANGE IA */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #3D3D4A;
  font-family: sans-serif;
}


.slider-big-container{
  background-color: #ffffff00;
  display: block;
  flex-direction: column;
  align-items: center;
  align-content: center;
  
}

.title-info-container{
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.donut-slider-container{
  background-color: rgba(249, 217, 138, 0);
  display: flex;
  align-items: center;
  align-content: center;
}

.button-ai-confing-container{
  display: flex;
  justify-content: center;
  border: 0px;
}

.ai-config-button{  
  margin-left: 20px;
  margin-right: 20px;
}

.block {
  /* margin: 25px 25px 0 0; */
  border-radius: 5px;
  overflow: hidden;
}

.title-ai{
  font-size: 1.25rem;
  color: var(--title-color);
  text-align: center;
  text-decoration: underline;
  font-weight: 300;
}

.donut-chart-block {
  overflow: hidden;
}

.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 2rem auto;
  border-radius: 100%
}

.donut-chart .center {
  background: #3D3D4A;
  border-radius: 50%;
  height: 60%;
  left: 20%;
  position: absolute;
  top: 20%;
  width: 60%;
}

.center span {
  color: #7a7a7a;
  display: block;
  font-size: 36px;
  font-weight: 800;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.clip {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}

.item {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}

#section1 {
  transform: rotate(0deg);
}

#section1 .item {
  background-color: var(--sliderRightPartColor);
  transform: rotate(180deg);
}

#section2 {
  transform: rotate(180deg);
}

#section2 .item {
  background-color: var(--sliderLeftPartColor);
  transform: rotate(180deg);
}

/*  slider */
.range-slider {
  display: inline-block;
  width: 40px;
  position: relative;
  text-align: center;
  height: 200px;

}
.range-slider__thumb {
  position: absolute;
  left: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: var(--sliderBubleColor);
  color: #fff;
  font-size: 60%;
  border-radius: 50%;
  pointer-events: none;
}
.range-slider__bar {
  left: 16px;
  bottom: -200px;
  position: absolute;
  pointer-events: none;
  width: 8px;
  border-radius: 10px;
}
.range-slider input[type=range][orient=vertical] {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
}
.range-slider input[type=range][orient=vertical]::-webkit-slider-runnable-track, .range-slider input[type=range][orient=vertical]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.range-slider input[type=range][orient=vertical]::-webkit-slider-runnable-track {
  border: none;
  background: #343440;
  width: 8px;
  border-color: #343440;
  border-radius: 10px;
}
.range-slider input[type=range][orient=vertical]::-moz-range-track {
  border: none;
  background: #343440;
  width: 8px;
  border-color: #343440;
  border-radius: 10px;
}
.range-slider input[type=range][orient=vertical]::-ms-track {
  border: none;
  background: #343440;
  width: 8px;
  border-color: #343440;
  border-radius: 10px;
  color: transparent;
  height: 100%;
}
.range-slider input[type=range][orient=vertical]::-ms-fill-lower, .range-slider input[type=range][orient=vertical]::-ms-fill-upper, .range-slider input[type=range][orient=vertical]::-ms-tooltip {
  display: none;
}
.range-slider input[type=range][orient=vertical]::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  opacity: 0;
}
.range-slider input[type=range][orient=vertical]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  opacity: 0;
}
.range-slider input[type=range][orient=vertical]::-ms-thumb {
  width: 30px;
  height: 30px;
  opacity: 0;
}




























/* POPUP INFO AI */

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button{
  font-family: var(--body-font);
  font-size: 0.8rem;
}

body{
  background-color: var(--body-color);
  color: var(--text-color);
  position: relative;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*=============== POPUP ===============*/

.default-save-ai-button{
  display: inline-block;
  background-color: #3D3D4A;
  color: #FFF;
  padding: 0.6rem 1.25rem;
  border-radius: .5rem;
  border: 0px;
  transition: .3s;
}

.default-save-ai-button:hover{
  background-color: var(--first-color-alt);
}

.modal-container{
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(var(--hue), 18%, 75%, .8);

  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: all .3s;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;

  /*=== Effect 3 ===*/
  /* perspective: 1000px; */
}

.modal-content{
  background-color: var(--container-color);
  text-align: center;
  /*margin: 100px;*/
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: all .3s;

  /*=== Effect 1 ===*/
  transform: translateY(10%);

  /*=== Effect 2 ===*/
  /* transform: scale(.5) translateY(10%); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(65deg) scale(.75) translateY(10%);
  transform-origin: 50% 100%; */
}


.modal-close{
  display: inline-flex;
  background-color: var(--first-color);
  border-radius: .25rem;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal-title{
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: 500;
}

.modal-description{
  margin-bottom: 1.5rem;
  text-align: center;
  
}

.modal-button-width{
  width: 90%;
}

.modal-button-link{
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  color: var(--first-color);
  font-weight: 500;
}

/* Show modal */
.show-ai-modal{
  visibility: visible;
  opacity: 1;
}

.show-ai-modal .modal-content{
  /*=== Effect 1 ===*/
  transform: translateY(0);

  /*=== Effect 2 ===*/
  /* transform: scale(1) translateY(0); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(0) scale(1) translateY(0); */
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px){
  .modal-content{
    margin: auto;
    width: 70%;
    border-radius: 1.25rem;
  }
}